body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 4rem;

}

#image {
    max-width: 50%;
    max-height: 50%;
    display: block;
    padding: 0 auto;
    margin: 0 auto;
}

p {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

#img-caption {
    font-size: larger;
    color:white;

}
#tribute link{
    color:blueviolet;
    display: flex;
    justify-content: center;
    font-size: 2rem;

}
h2{
    display: flex;
    justify-content: center;
    font-size: 2rem;

}